<template name="braintree">
<div class="row">
  <h2>Braintree<small> Settings</small></h2>
</div>
<div class="row">
  <div class="col-md-6 well">
    {{#autoForm collection="ReactionCore.Collections.Packages" schema="ReactionCore.Schemas.BraintreePackageConfig" doc=packageData type="update" id="braintree-update-form"}}
      <div class="form-group">
      	Don't have a Braintree client ID and secret? <a href="https://developer.paypal.com/webapps/developer/applications" target="_blank">Get them here.</a>
      </div>
      {{>afQuickField name='settings.merchant_id'}}
      {{>afQuickField name='settings.public_key'}}
      {{>afQuickField name='settings.private_key'}}
      <button type="submit" class="btn btn-primary pull-right">Update</button>
    {{/autoForm}}
  </div>
</div>
</template>